* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    list-style: none;
}

ol,
ul,
li {
    list-style: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


:root {
    --pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);

    /*Neutral*/

    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);
}

.header__nav ul {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav li {
    color: var(--LightPink);
    display: flex;
    gap: 5px;
}

.header__btn.icon {
    height: 3.5vh;
}


.header__btn.button {
    font-size: 0.7rem;
    width: 30%;
    padding: 7px;
    border-radius: 30px;
    border: var(--LightPink) 2px solid;
    display: flex;
    justify-content: center;
    font-weight: 700;
}


.main {
    margin-top: 8vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--VeryDarkCyan);
}


.main__getStarted h2 {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
}

.main__getStarted p {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    color: var(--VeryDarkCyan);
}


.main__btn {
    background-color: var(--pink);
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    font-size: 0.8rem;
    width: 70%;
    border: var(--Pink) solid;
    color: white;
    font-weight: 600;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.185);
}


.main__mockup {
    padding: 2.3rem;
}

.main__mockup img {
    width: 100%;
    height: 100%;
}



.main__getStarted {
    padding: 2.5rem;
}


.main__stadistics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__communities {
    margin: auto;
    margin-bottom: 3rem;
}

.main__communities img {
    width: 20%;
    display: flex;
    margin-bottom: 10px;
}

.main__communities h2 {
    font-size: 3rem;
    color: var(--VeryDarkCyan);
    font-weight: 700;
}

.main__communities p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.516);
}

.main__messages {
    margin: auto;
    margin-bottom: 3rem;
}

.main__messages img {
    width: 20%;
    display: flex;
    margin-bottom: 10px;
}

.main__messages h2 {
    font-size: 2.7rem;
    color: var(--VeryDarkCyan);
    font-weight: 700;
}

.main__messages p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.516);
}




.main__growTogether {
    margin-bottom: 2rem;
}


.imgTop {
    position: relative;
    top: 4px;
}

.imgGrow {
    width: 100%;
    padding: 4rem;
}

.main__growTogether div {
    background-color: var(--VeryPaleBlue);
}

.main__growTogether h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--VeryDarkCyan);
    font-weight: 800;
}

.main__growTogether p {
    font-size: 0.9;
    padding: 1rem;
    text-align: center;
    color: var(--VeryDarkCyan);
}


.imgBottom {
    position: relative;
    top: -4px;
}



.main__ilustrationFlowingConversation img {
    width: 100%;
    padding: 4rem;
}


.main__ilustrationFlowingConversation h2 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
    color: var(--VeryDarkCyan);
    font-weight: 800;
}

.main__ilustrationFlowingConversation p {
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
    color: var(--VeryDarkCyan);
}



.main__ilustrationYourUsers h2 {
    font-size: 1.2rem;
    color: var(--VeryDarkCyan);
    font-weight: 800;
}


.main__ilustrationYourUsers p {
    font-size: 0.9;
    padding: 1.3rem;
    text-align: center;
    color: var(--VeryDarkCyan);
}

.main__ilustrationYourUsers img {
    width: 100%;
}


.imgUsersTop {
    position: relative;
    top: 2rem;
}

.imgIlustrationUsers {
    background-color: var(--VeryPaleBlue);
    padding: 4rem;
}


.main__ilustrationYourUsers div {
    background-color: var(--VeryPaleBlue);
    position: relative;
    top: -4px;
    padding-bottom: 5rem;
}


.imgUsersBottom {
    position: relative;
    top: -5px;
}



.main__getStarted {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__getStarted h2 {
    font-size: 1.1rem;
    color: var(--VeryDarkCyan);
    font-weight: 800;
}

.main__btn {
    background-color: var(--pink);
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    font-size: 0.8rem;
    width: 70%;
    border: var(--Pink) solid;
    color: white;
    font-weight: 600;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.185);
}


.footer {
    margin-top: 20rem;
    position: relative;
}

.footer__newsLetter {
    background-color: var(--VeryDarkCyan);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.5rem;
    text-align: start;
}

.footer__topImg {
    width: 100%;
    position: absolute;
    top: -50px;

}


.footer__newsLetter h2,
p {
    padding-top: 20px;
    color: white;
}

.footer__newsLetter h2 {
    font-size: 0.9rem;
}



.footer__newsLetter input {
    width: 100%;
    height: 7vh;
    border-radius: 8px;
}


.footer__form {
    position: relative;
    padding-bottom: 5rem;
}

.footer__btn {
    font-size: 0.9rem;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 5px;
    padding: 10px;
    border: var(--LightPink) 0px solid;
    background-color: var(--pink);
    color: white;
    font-weight: 700;
    width: 50%;
}


.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 3rem 0 10rem 0;
}

.footer__logo {
    width: 55%;
    -webkit-filter: grayscale(100%);
    filter: opacity(0.5) drop-shadow(0 0 0 white) saturate(100%) sepia(60%) contrast(100%) grayscale(100%);
    filter: gray;
}


.footer__contact p {
    font-size: 0.9rem;
}


.footer__contact ul {
    margin-top: 1.5rem;
}

.footer__contact li {
    color: white;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.footer__contact li i{
    font-size: 0.9rem;
    margin-top: 1.1rem;
}


.footer__redes {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}




@media (min-width:1440px) {

    .header__nav ul {
        padding: 4rem 4rem 1rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav li {
        color: var(--LightPink);
        display: flex;
        gap: 5px;
    }

    .header__btn.icon {
        height: 3.3vh;
    }


    .header__btn.button {
        font-size: 1.2rem;
        width: 12%;
        padding: 12px;
        border-radius: 30px;
        border: var(--LightPink) 2px solid;
        display: flex;
        justify-content: center;
        font-weight: 700;
    }

    .main {
        padding: 4rem 0rem 0 0rem;

    }


    .main__getStarted h2 {
        font-size: 2.8rem;
        font-weight: 800;
        margin-bottom: 0;
    }

    .main__getStarted p {
        text-align: center;
        font-size: 1.6rem;
        padding: 0 8rem 0 8rem;
    }

    .main__btn {
        border-radius: 60px;
        font-size: 1.8rem;
        width: 45%;
        padding: 2.2rem;
        margin-bottom: 0;
    }


    .main__mockup img {
        width: 100%;
        padding: 0 10rem 0 10rem;
    }

    .main__stadistics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    .main__communities h2 {
        font-size: 6rem;
    }

    .main__communities p {
        font-size: 1.4rem;
    }

    .main__messages {
        margin: auto;
    }

    .main__messages h2 {
        font-size: 5.7rem;
    }

    .main__messages p {
        font-size: 1.4rem;
    }




    .main__growSection {
        padding: 2rem;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-columns: auto;

        grid-template-areas:

            " . . img . "
            " . titulo img . "
            " . texto img . "
            " . . img . "
        ;

    }


    .imgTop {
        width: 100%;
        position: relative;
        top: 10px;
    }

    .imgGrow {
        width: 47vw;
        grid-area: img;

    }

    .main__growTogether h2 {
        grid-area: titulo;
        font-size: 2.5rem;
        text-align: justify;
        padding: 0 2rem 0 3rem;
    }

    .main__growTogether p {
        grid-area: texto;
        font-size: 1rem;
        padding: 0 2rem 0 3rem;
        text-align: justify;
    }


    .imgBottom {
        width: 100%;
        margin-bottom: 5rem;
    }


    .main__ilustrationFlowingConversation {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;

        grid-template-areas:

            "imgFlowing textFlowing"

        ;
    }


    .main__ilustrationFlowingConversation img {

        grid-area: imgFlowing;
    }

    .main__ilustrationFlowingConversation div {
        grid-area: textFlowing;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1.5rem;
    }

    .main__ilustrationFlowingConversation h2 {
        font-size: 2.8rem;
        text-align: start;
        align-self: flex-start;
    }


    .main__ilustrationFlowingConversation div p {
        font-size: 1.3rem;
        text-align: justify;
        padding: 0;
    }



    .main__yourUsers {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;

        grid-template-areas:

            "textUsers imgUsers"

        ;
    }


    .imgUsersTop {
        width: 100%;
        position: relative;
        top: 1px;
    }



    .imgIlustrationUsers {
        grid-area: imgUsers;
    }

    .main__ilustrationYourUsers div {
        grid-area: textUsers;
    }

    .main__ilustrationYourUsers div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 4rem 0 4rem;
        gap: 1.5rem;
    }


    .main__ilustrationYourUsers div div h2{
        font-size: 2.6rem;
        font-weight: 800;
        align-self: flex-start;
    }

    .main__ilustrationYourUsers div div p{
        font-size: 1.2rem;
        text-align: justify;
        padding: 0;
    }



    .imgUsersBottom{
        width: 100%;
        position: relative;
        bottom: 0;
        margin-bottom: 5rem;

    }


    .main__btn{
        width: 35%;
        font-size: 1.3rem;
    }


    .footer__topImg{
        width: 100%;
        position: relative;
        top: 10px;
    }

    .footer__newsLetter {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 48% 20% auto;
        grid-template-areas:  
        
        "contact newsletter"
        "contact form"
        "contact ."
        ;
        padding: 7rem;
    }


    .newsLetter{
        grid-area: newsletter;
        padding: 2rem 7.4rem 0 7.4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .newsLetter h2{
        font-size: 1.6rem;
    }

    .newsLetter p{
        text-align: start;
        padding: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }


    .footer__form{
        grid-area: form;
        padding-left: 7.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .footer__form input{
        width: 70%;
        height: 3rem;
    }

    .footer__btn{
        width: 25%;
        height: 3rem;
    }

    .footer__contact{
        grid-area: contact;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem 10rem 0 10rem;
    }

    .footer__logo{
        width: 75%;
    }

    .footer__contact ul li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }  

}